# Virtual environment
.venv/
venv/
.env/

# Compiled Python files
__pycache__/
*.pyc
*.pyd
*.pyo

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build artifacts
build/
dist/
*.egg-info/
*.egg
wheels/

# Log files
*.log

# Sensitive information
.env

# Operating system files
.DS_Store
Thumbs.db

#Arquivo com credenciais de configuração
config.json